<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Pessoa</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="pessoa.nome"
          #nome="ngModel" required minlength="5">

        <app-message [control]="nome" error="required"
          text="Informe o pessoa">
        </app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Instituição Bancária</label>
        <input pInputText type="text" name="instituicao"
        [(ngModel)]="pessoa.instituicao">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Conta</label>
        <p-inputMask name="conta" mask="9999-9"
          [(ngModel)]="pessoa.conta"
          #conta="ngModel" required></p-inputMask>        

        <app-message [control]="conta" error="required"
          text="Informe a conta"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Saldo</label>     
        
        <input pInputText type="text" placeholder="0,00" name="saldo" currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
         [(ngModel)]="pessoa.saldo"
        #saldo="ngModel" required>

        <app-message [control]="saldo" error="required"
          text="Informe o saldo"></app-message>
      </div>      

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Correntista</label>
        <input pInputText type="text" name="correntista"
          [(ngModel)]="pessoa.correntista"
          #correntista="ngModel" required>

        <app-message [control]="correntista" error="required"
          text="Informe o correntista"></app-message>
      </div>

      <div class="ui-g-12">   
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <a routerLink="/pessoas">Voltar para a listagem</a>
      </div>  

      <div class="ui-g-12" style="display:none">
        <input pInputText type="text" name="logradouro"
          [(ngModel)]="pessoa"
          #logradouro="ngModel" required>
      </div>
    </div>

  </form>
</div>
